* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2c73eb;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-box {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 350px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  color: #2c73eb;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
 box-shadow: 2px 2px 10px rgb(2, 78, 109) ;
}

button {
  padding: 10px;
  background-color: #2c73eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1f5fc4;
}
